<br/>
<span class="modal-action modal-close">
  {{md-btn icon='mdi-image-control-point'
    action='addTodo' buttonType='floating'
    class='btn-large cyan darken-3'}}
</span>
  {{#link-to 'todos.boards.new' class="white-text"}}
  {{md-btn text='New Bucket'
    class='cyan darken-3'}}
  {{/link-to}}
  <!-- {{#link-to 'todos.boards.index' class="white-text"}}
  {{md-btn text='All Boards'
  	class='cyan darken-3'}}
  {{/link-to}} -->
<br/><br/>


{{outlet}}
