<br>
<div class="row">
   <div class="flex-container-column col l1">
    <!-- {{#link-to 'crm.craigslist' class="flex-item"}}<i class="flex-item fa fa-contao"></i>{{/link-to}} -->
    {{#link-to 'crm.companies' class="flex-item"}}<i class="mdi-communication-business medium blue-grey-text text-darken-4"></i>{{/link-to}}
    <!-- {{#link-to 'crm.craigslist' class="flex-item"}}<i class="flex-item mdi-communication-phone medium"></i>{{/link-to}} -->
    <!-- {{#link-to 'crm.companies.show.employees' class="flex-item"}}<i class="flex-item mdi-social-group medium"></i>{{/link-to}} -->
    <!-- {{#link-to 'crm.forecast' class="flex-item"}}<i class="flex-item mdi-action-event medium"></i>{{/link-to}} -->
  </div>
  <div class="col l8">
    {{outlet}}
  </div>
  <div class="col l2">
    {{#crm-rightnav}}
    {{/crm-rightnav}}  
  </div>
</div>




<!-- <div class="collection">
  {{#link-to crm.companies class='collection-item avatar'}}<i class="circle green mdi-maps-beenhere"></i><h5>Engaged</h5>{{/link-to}}
  {{#link-to crm.companies class='collection-item avatar'}}<i class="circle yellow mdi-maps-beenhere"></i><h5>Courting</h5>{{/link-to}}
  {{#link-to crm.companies class='collection-item avatar'}}<i class="circle red mdi-maps-beenhere"></i><h5>Unaware</h5>{{/link-to}}
</div> -->
