
<div class="tag-cloud">
{{#each websites as |website|}}
  {{#link-to 'websites.show' website}}
  <div class="tag-badge card-panel blue-grey darken-4 white-text">
    {{website.address}}
  </div>
  {{/link-to}}
{{/each}}
</div>
<div style="float:left; margin-right: 50px; display: inline-block;">
  {{#link-to 'websites.new' class="btn blue-grey darken-1"}}Create Website{{/link-to}}
</div>
<div style="float: left; width: 70%; display: inline-block;">
  <form id="website-form" multipart="true" class="create-form" {{action 'add' on="submit"}}>

    {{md-input type="text" value=model.title label="Website title"}}
    {{md-input type="text" value=model.address label="Website address"}}

    <button type="submit" class="btn blue-grey darken-1">Create</button>
  </form>

</div>
