input {
  position: relative;
  display: block;
  padding: 9px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

textarea {
  position: relative;
  display: block;
  padding: 9px;
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 229px;
  font: 14px Open Sans;
  margin: 10px;
}
.button {
  position: relative;
  padding: 9px 20px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;

  &.primary {
    color: white;
    background-color: orange;
    border-color: orange;
    font-weight: bold;

    &:hover {
      background-color: darkorange;
      border-color: darkorange;
    }
  }
}


.create-form {
  width: 500px;

  input {
    width: 250px;
  }

  label {
    margin: 0;
    padding: 0;
    float: left;
    margin: 8px;
    width: 170px;
    font-weight: bold;
    cursor: pointer;
  }

  button {
    clear: both;
  }

  select {
    width: 270px;
  }

  textarea {
    width: 250px;
  }

}

select {
  border: 1px solid lightgray;
  padding: 9px;
  margin: 10px;
  display: block;
  width: 250px;
  border-radius: 3px;
}

table {
  border: 1px solid lightgray;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    margin-bottom: 5px;

  }

  th {
    width: 100px;
    text-align: left;
    padding: 5px;
  }

  tr {
    border: 1px solid lightgray;
  }

  tr.item {
    border: 1px solid lightgray;

    &:hover {
      background-color: #F5F5F5;
    }
  }

  td {
    width: 100px;
    margin: 0;
    padding: 5px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    a {
      text-decoration: none;
      color: #191970;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {

    &.primary {
      margin: 0;
      padding: 5px;
      width: 100%;
    }
  }
}
