input {
  position: relative;
  display: inline-block;
  padding: 9px;
  border-radius: 0;
  border: 1px solid lightgray;
}

button {
  position: relative;
  padding: 9px 20px;
  border-radius: 0;
  border: 1px solid lightgray;
  cursor: pointer;
  display: inline-block;
}
