<br/><br/>
<main>
  {{as-calendar
    title="User Calendar"
    occurrences=model
    defaultTimeZoneQuery="New York|London|Dubai|Hong Kong"
    dayStartingTime="9:00"
    dayEndingTime="18:00"
    timeSlotDuration="00:30"}}
</main>
