{{#md-navbar name='eWebDesign.co' class='cyan darken-4'}}
  {{#link-to 'crm' tagName='li'}}
    <i class="mdi-communication-business white-color nav-padding"></i>
  {{/link-to}}
  {{#link-to 'estore' tagName='li'}}
    <i class="mdi-action-shopping-cart nav-padding"></i>
  {{/link-to}}
  {{#link-to 'blog' tagName='li'}}
    <i class="mdi-maps-location-history nav-padding"></i>
  {{/link-to}}
  {{#link-to 'todos' tagName='li'}}
    <i class="fa fa-check-square-o nav-padding"></i>
  {{/link-to}}
  {{#link-to 'events' tagName='li'}}
    <i class="fa fa-calendar nav-padding"></i>
  {{/link-to}}
  {{#link-to 'pages' tagName='li'}}
    <i class="fa fa-file-code-o nav-padding"></i>
  {{/link-to}}
  <!-- {{#link-to 'teams' tagName='li'}}
  <i class="fa fa-users nav-padding"></i>
  {{/link-to}} -->
  <!-- {{#link-to 'users' tagName='li'}}
    <i class="mdi-action-shop"></i>
  {{/link-to}} -->
  {{#link-to 'settings' tagName='li'}}
    <i class="fa fa-cogs"></i>
  {{/link-to}}
{{/md-navbar}}

<div style="margin: 0 10px;">
  <div class="flash-list">
    {{#each flashMessages.queue as |flash|}}
      <div class="flash-message z-depth-2">
        {{flash-message flash=flash}}
      </div>
    {{/each}}
  </div>
  {{outlet}}
</div>
{{md-modal-container}}
