<div class="row">
    {{#each model as |tag|}}
    <div class="col l3 m4 s6">
      {{#md-card title=tag.name
          titleClass="orange-text"
          id="basic-card"}}

          {{#md-card-content}}
          Content Describing the Tag Goes Here
          {{/md-card-content}}

          {{#md-card-action}}
          <a {{action 'edit' tag}}>Edit</a>
            <a {{action 'delete' tag}}>Delete</a>
          {{/md-card-action}}
      {{/md-card}}
    </div>
    {{/each}}
</div>
