{{#if model}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |page|}}
        <tr>
          <td>{{#link-to 'pages.show' page}}{{page.title}}{{/link-to}}</td>
          <td>{{md-btn text='Delete' action='delete' actionArg=page class='red darken-1'}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="else-text">
  No pages. Start by adding the one.  
</div>
{{/if}}
