<form id="employee-form" class="create-form">
    <select required>
      <option value="">Template 1</option>
      <option value="">Template 2</option>
      <option value="">Template 3</option>
      <option value="">Template 4</option>
    </select>
    <label>Email Preview:</label><br/><br>
    <div class="preview-box"></div>
  <button class="button primary">Send Email</button>
</form>
