
  <div class="blog-index-banner-header">
    <div class="user-profile-banner-footer">
      <div class="user-icon"><i class="mdi-maps-local-laundry-service indigo-color"></i></div>
      <div class="user-icon"><i class="mdi-image-portrait"></i></div>
      <img class="user-icon center clip-polygon" src="http://placehold.it/75x75"/>
      <div class="user-icon"><i class="mdi-image-transform"></i></div>
      <div class="user-icon"><i class="mdi-image-collections"></i></div>
    </div>
  </div>

  {{outlet}}
