<h2>Blog</h2>
{{#link-to 'blog.posts.new' class="button primary"}}New Post{{/link-to}}
{{#link-to 'blog.posts.index' class="button"}}View All Posts{{/link-to}}
<br/>
{{#link-to 'blog.tags.new' class="button primary"}}Add Tag{{/link-to}}
{{#link-to 'blog.tags.index' class="button"}}View All Tags{{/link-to}}
{{outlet}}
