.m-top-50 {
  margin-top: 50px;
}
.m-bottom-50 {
  margin-bottom: 50px;
}
.m-top-20 {
  margin-top:20px;
}
.login-form {
  height:200px;
  width:300px;
  border:1px solid orange;
  text-align:center;
  background:orange;
}
