& {
  .header {
    background:#546e7a;
  }
  th {
    color:white;
    border-radius:0;
    font-size:120%;
    padding:.5em;
  }
  header {
    padding:0;
    h5 {
      text-align:center;
      padding:15px;
      color:white;
    }
  }
  main {
    min-height:50px;
    background:white;
  }
  h5 {
    text-align:center;
    margin:0;
    padding:10px;
  }
  .white-text-color {
    color:white;
  }
  .card-panel {
    margin: 0;
  }
  td {
    border-radius: 0;
    a {
      color: #ffab40;
    }
  }
}
