& {
  .header {
    background:#26a69a;
  }
  th {
    color:white;
    border-radius:0;
    font-size:120%;
    padding:.5em;
  }
  // border: solid 1px grey;
  min-height:200px;
  header {
    padding:0;
    h5 {
      text-align:center;
      padding:15px;
      color:white;
    }
  }
  main {
    min-height:250px;
    background:white;
  }
  h5 {
    text-align:center;
    margin:0;
    padding:10px;
  }
  .white-text-color {
    color:white;
  }
  .card-panel {
    margin: 0;
  }
  td {
    border-radius: 0;
    a {
      color: #26a69a;
    }
  }
}
