<nav class="nav-wrapper indigo" >
  <ul class="right hide-on-med-and-down">
    {{#each menu as |item|}}
      {{#link-to item.link}}
        <li class="item-menu">
          {{item.title}}
        </li>
      {{/link-to}}
    {{/each}}
  </ul>
</nav>
<!-- {{#md-navbar name='Example' class='indigo'}}
  {{#link-to 'navbar' tagName='li'}}
    {{link-to 'Navbar' 'navbar'}}
  {{/link-to}}
  {{#link-to 'tabs' tagName='li'}}
    {{link-to 'Tabs' 'tabs'}}
  {{/link-to}}
{{/md-navbar}} -->
