{{yield}}
<header>
  <h5 class="white-text-color cyan darken-4">Newsfeed</h5>
</header>
<main>
  {{#each todos as |todo|}}
    {{#md-card-panel class="teal lighten-1"
        bodyClass="white-text"}}
        New Todo: {{#link-to 'todos.index'}}{{todo.title}}{{/link-to}}
    {{/md-card-panel}}
  {{/each}}

  {{#each tasks as |task|}}
    {{#md-card-panel class="teal darken-1"
        bodyClass="white-text"}}
        New Task: {{task.name}}
    {{/md-card-panel}}
  {{/each}}
</main>
