{{yield}}
<header>
  <h5 class="white-text-color blue-grey darken-2">Newsfeed</h5>
</header>
{{#md-card-collapsible accordion=false}}
  {{#md-collapsible icon="mdi-image-filter-drama"
      title="Todos"}}

  {{/md-collapsible}}
{{/md-card-collapsible}}
{{#each todos as |todo|}}
    {{#md-card-panel class="blue-grey darken-1"
        bodyClass="white-text"}}
        New Todo: {{#link-to 'todos.index'}}{{todo.title}}{{/link-to}}
    {{/md-card-panel}}
{{/each}}
{{#md-card-collapsible accordion=false}}
  {{#md-collapsible icon="mdi-social-whatshot"
      title="CRM Tasks"}}

  {{/md-collapsible}}
{{/md-card-collapsible}}
{{#each tasks as |task|}}
  {{#md-card-panel class="blue-grey darken-1"
      bodyClass="white-text"}}
      New Task: {{task.name}}
  {{/md-card-panel}}
{{/each}}
{{#md-card-collapsible accordion=false}}
  {{#md-collapsible icon="mdi-social-whatshot"
      title="Recently Booked Events"}}

  {{/md-collapsible}}
{{/md-card-collapsible}}
{{#each events as |event|}}
  {{#md-card-panel class="blue-grey darken-2"
      bodyClass="white-text"}}
      New Event: {{event.title}}
  {{/md-card-panel}}
{{/each}}





<!-- <main>





</main> -->
