<div class="body">
  <main>
      {{outlet}}
  </main>
  <aside>
    <ul>
      {{#each model as |product|}}
        {{#link-to 'estore.products.show' product}}
          <div class="list-group-item">
          <h5 class="o-hidden"><strong>{{product.title}}</strong></h5>
          <p class="o-hidden truncate">{{product.description}}</p>
          </div>
        {{/link-to}}
      {{/each}}
    </ul>
  </aside>
</div>
