<br/><br/>
<main>
  {{#each model as |event|}}
  {{#link-to 'events.show' event}}
    {{#md-card-panel class="teal darken-2"
        bodyClass="white-text"}}
        New Event: {{event.title}}
    {{/md-card-panel}}
  {{/link-to}}
  {{/each}}
</main>
