$blue-grey: #009688;
&{
  margin-bottom:10px;
  // header {
  //   padding:.5rem;
  //     
  // }
  h5 {
    text-align:center;
    margin:0;
    padding: .25em 0;
  }
}

.white-text-color {
  color:white;
}

div.table-title {
   display: block;
  margin: auto;
  padding:5px;
  width: 100%;
}
