<div class="collapsible-header-title">
  <h5>Events</h5>
</div>
{{#md-card-collapsible title="events" accordion=false}}
    {{#each todaysEvents as |event|}}
      {{#md-collapsible icon="mdi-image-filter-drama" title=event.eventRange}}
        <strong>{{event.title}}</strong><br/>Info about event...
      {{/md-collapsible}}
    {{/each}}
{{/md-card-collapsible}}

{{yield}}
