  {{outlet}}

<!-- <div class="parallax-container">
  <div class="parallax"><img src=""></div>
</div> -->

<!-- {{#img-panel-circle}}
This is a square image. Add the "circle" class to it to make it appear circular.
{{/img-panel-circle}} -->

<!-- <blockquote>
      This is an example quotation that uses the blockquote tag.
</blockquote> -->
<!-- <div class="video-container no-controls">
  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1" frameborder="0" allowfullscreen></iframe>
</div> -->
<!-- {{search-nav}} -->
