<header class="cyan darken-4"><h5 class="white-text-color">Support Module</h5></header>
<main>
  <label>Customer Renewal Rate:</label>
  <label>Active Tickets:</label>
  <label>Support Satisfaction</label>
</main>

{{yield}}
