<h2>Settings</h2>

<h3>Holy Grail</h3>
  <header><h6 class="center white-text header-text">Header</h6></header>
    <div class="body">
      <main>
        <div class="icon-item container wrap">

          <h5>First Cut</h5>

          <i class="icon-item mdi-image-add-to-photos"></i>
          <i class="icon-item mdi-maps-directions-bike"></i>
          <i class="icon-item mdi-maps-directions-bus"></i>
          <i class="icon-item mdi-maps-directions-car"></i>
          <i class="icon-item mdi-maps-directions-walk"></i>
          <i class="icon-item mdi-maps-directions"></i>
          <i class="icon-item mdi-maps-flight"></i>
          <i class="icon-item mdi-maps-hotel"></i>
          <i class="icon-item mdi-maps-layers-clear"></i>
          <i class="icon-item mdi-maps-layers"></i>

          <i class="icon-item mdi-maps-local-airport"></i>
          <i class="icon-item mdi-maps-local-atm"></i>
          <i class="icon-item mdi-maps-local-attraction"></i>
          <i class="icon-item mdi-maps-local-bar"></i>
          <i class="icon-item mdi-maps-local-cafe"></i>
          <i class="icon-item mdi-maps-local-car-wash"></i>
          <i class="icon-item mdi-maps-local-convenience-store"></i>
          <i class="icon-item mdi-maps-local-drink"></i>
          <i class="icon-item mdi-maps-local-florist"></i>
          <i class="icon-item mdi-maps-local-gas-station"></i>
          <i class="icon-item mdi-maps-local-grocery-store"></i>
          <i class="icon-item mdi-maps-local-hospital"></i>
          <i class="icon-item mdi-maps-local-hotel"></i>
          <i class="icon-item mdi-maps-local-laundry-service"></i>
          <i class="icon-item mdi-maps-local-library"></i>
          <i class="icon-item mdi-maps-local-mall"></i>
          <i class="icon-item mdi-maps-local-movies"></i>
          <i class="icon-item mdi-maps-local-offer"></i>
          <i class="icon-item mdi-maps-local-parking"></i>
          <i class="icon-item mdi-maps-local-pharmacy"></i>
          <i class="icon-item mdi-maps-local-phone"></i>
          <i class="icon-item mdi-maps-local-pizza"></i>
          <i class="icon-item mdi-maps-local-play"></i>
          <i class="icon-item mdi-maps-local-post-office"></i>
          <i class="icon-item mdi-maps-local-print-shop"></i>
          <i class="icon-item mdi-maps-local-restaurant"></i>
          <i class="icon-item mdi-maps-local-see"></i>
          <i class="icon-item mdi-maps-local-shipping"></i>
          <i class="icon-item mdi-maps-local-taxi"></i>
          <i class="icon-item mdi-maps-location-history"></i>
          <i class="icon-item mdi-maps-beenhere"></i>

          <i class="icon-item mdi-image-adjust"></i>
          <i class="icon-item mdi-image-assistant-photo"></i>
          <i class="icon-item mdi-image-audiotrack"></i>
          <i class="icon-item mdi-image-brush"></i>
          <i class="icon-item mdi-image-camera-alt"></i>
          <i class="icon-item mdi-image-camera-front"></i>
          <i class="icon-item mdi-image-camera-roll"></i>
          <i class="icon-item mdi-image-camera"></i>
          <i class="icon-item mdi-image-center-focus-strong"></i>
          <i class="icon-item mdi-image-center-focus-weak"></i>
          <i class="icon-item mdi-image-collections"></i>
          <i class="icon-item mdi-image-color-lens"></i>
          <i class="icon-item mdi-image-colorize"></i>
          <i class="icon-item mdi-image-compare"></i>
          <i class="icon-item mdi-image-control-point-duplicate"></i>
          <i class="icon-item mdi-image-control-point"></i>
          <i class="icon-item mdi-image-loupe"></i>
          <i class="icon-item mdi-image-palette"></i>
          <i class="icon-item mdi-image-wb-sunny"></i>
          <i class="icon-item mdi-image-filter-drama"></i>
          <i class="icon-item mdi-image-filter-frames"></i>
          <i class="icon-item mdi-image-filter-tilt-shift"></i>
          <i class="icon-item mdi-image-filter-hdr"></i>
          <i class="icon-item mdi-image-filter-none"></i>
          <i class="icon-item mdi-image-filter-vintage"></i>
          <i class="icon-item mdi-image-filter"></i>
          <i class="icon-item mdi-image-flare"></i>
          <i class="icon-item mdi-image-landscape"></i>
          <i class="icon-item mdi-image-image-aspect-ratio"></i>
          <i class="icon-item mdi-image-image"></i>
          <i class="icon-item mdi-image-flash-on"></i>
          <i class="icon-item mdi-image-flip"></i>
          <i class="icon-item mdi-image-gradient"></i>
          <i class="icon-item mdi-image-panorama"></i>
          <i class="icon-item mdi-image-photo-album"></i>
          <i class="icon-item mdi-image-photo-camera"></i>
          <i class="icon-item mdi-image-photo-library"></i>
          <i class="icon-item mdi-image-photo"></i>
          <i class="icon-item mdi-image-portrait"></i>
          <i class="icon-item mdi-image-movie-creation"></i>
          <i class="icon-item mdi-image-rotate-left"></i>
          <i class="icon-item mdi-image-rotate-right"></i>
          <i class="icon-item mdi-image-remove-red-eye"></i>
          <i class="icon-item mdi-image-slideshow"></i>
          <i class="icon-item mdi-image-straighten"></i>
          <i class="icon-item mdi-image-style"></i>
          <i class="icon-item mdi-image-switch-camera"></i>
          <i class="icon-item mdi-image-switch-video"></i>
          <i class="icon-item mdi-image-tag-faces"></i>
          <i class="icon-item mdi-image-texture"></i>
          <i class="icon-item mdi-image-timelapse"></i>
          <i class="icon-item mdi-image-timer-3"></i>
          <i class="icon-item mdi-image-timer-10"></i>
          <i class="icon-item mdi-image-timer-auto"></i>
          <i class="icon-item mdi-image-timer-off"></i>
          <i class="icon-item mdi-image-timer"></i>
          <i class="icon-item mdi-image-tonality"></i>
          <i class="icon-item mdi-image-transform"></i>
          <i class="icon-item mdi-image-tune"></i>
          <i class="icon-item mdi-image-wb-cloudy"></i>
          <i class="icon-item mdi-image-wb-incandescent"></i>

          <!-- Electronic Devices-->
          <!-- <i class="icon-item mdi-hardware-security"></i>
          <i class="icon-item mdi-hardware-laptop"></i>
          <i class="icon-item mdi-hardware-laptop-mac"></i>
          <i class="icon-item mdi-hardware-tablet-mac"></i>
          <i class="icon-item mdi-hardware-tablet"></i>
          <i class="icon-item mdi-hardware-tv"></i>
          <i class="icon-item mdi-hardware-keyboard-voice"></i>
          <i class="icon-item mdi-hardware-keyboard"></i>
          <i class="icon-item mdi-hardware-laptop-chromebook"></i>
          <i class="icon-item mdi-hardware-laptop-windows"></i>
          <i class="icon-item mdi-hardware-memory"></i>
          <i class="icon-item mdi-hardware-mouse"></i>
          <i class="icon-item mdi-hardware-phone-android"></i>
          <i class="icon-item mdi-hardware-phone-iphone"></i>
          <i class="icon-item mdi-hardware-phonelink-off"></i>
          <i class="icon-item mdi-hardware-phonelink"></i>
          <i class="icon-item mdi-hardware-sim-card"></i>
          <i class="icon-item mdi-hardware-smartphone"></i>
          <i class="icon-item mdi-hardware-speaker"></i>
          <i class="icon-item mdi-hardware-tablet-android"></i> -->


<p>Cut Line</p>

          <!-- <i class="icon-item mdi-hardware-watch"></i> -->

          <!-- <i class="icon-item mdi-image-blur-circular"></i>

          <i class="icon-item mdi-image-blur-linear"></i>
          <i class="icon-item mdi-image-blur-off"></i>
          <i class="icon-item mdi-image-blur-on"></i> -->
          <!-- <i class="icon-item mdi-image-brightness-1"></i>
          <i class="icon-item mdi-image-brightness-2"></i>
          <i class="icon-item mdi-image-brightness-3"></i>
          <i class="icon-item mdi-image-brightness-4"></i>
          <i class="icon-item mdi-image-brightness-5"></i>
          <i class="icon-item mdi-image-brightness-6"></i>
          <i class="icon-item mdi-image-brightness-7"></i> -->
          <!-- <i class="icon-item mdi-image-camera-rear"></i>
          <i class="icon-item mdi-image-lens"></i> -->

          <!-- <i class="icon-item mdi-image-grain"></i>
          <i class="icon-item mdi-image-grid-off"></i>
          <i class="icon-item mdi-image-grid-on"></i>
          <i class="icon-item mdi-image-looks-3"></i>
          <i class="icon-item mdi-image-looks-4"></i>
          <i class="icon-item mdi-image-looks-5"></i>
          <i class="icon-item mdi-image-looks-6"></i>
          <i class="icon-item mdi-image-looks-one"></i>
          <i class="icon-item mdi-image-looks-two"></i>
          <i class="icon-item mdi-image-panorama-fisheye"></i>
          <i class="icon-item mdi-image-panorama-horizontal"></i>
          <i class="icon-item mdi-image-panorama-vertical"></i>
          <i class="icon-item mdi-image-panorama-wide-angle"></i> -->



          <!-- <i class="icon-item mdi-maps-directions-ferry"></i> -->




          <hr>

          <i class="icon-item mdi-image-crop-3-2"></i>
          <i class="icon-item mdi-image-crop-5-4"></i>
          <i class="icon-item mdi-image-crop-7-5"></i>
          <i class="icon-item mdi-image-crop-16-9"></i>
          <i class="icon-item mdi-image-crop-din"></i>
          <i class="icon-item mdi-image-crop-free"></i>
          <i class="icon-item mdi-image-crop-landscape"></i>
          <i class="icon-item mdi-image-crop-original"></i>
          <i class="icon-item mdi-image-crop-portrait"></i>
          <i class="icon-item mdi-image-crop-square"></i>
          <i class="icon-item mdi-image-crop"></i>
          <i class="icon-item mdi-image-dehaze"></i>
          <i class="icon-item mdi-image-details"></i>
          <i class="icon-item mdi-image-edit"></i>
          <i class="icon-item mdi-image-exposure-minus-1"></i>
          <i class="icon-item mdi-image-exposure-minus-2"></i>
          <i class="icon-item mdi-image-exposure-plus-1"></i>
          <i class="icon-item mdi-image-exposure-plus-2"></i>
          <i class="icon-item mdi-image-exposure-zero"></i>
          <i class="icon-item mdi-image-exposure"></i>

          <i class="icon-item mdi-image-filter-b-and-w"></i>
          <i class="icon-item mdi-image-filter-1"></i>
          <i class="icon-item mdi-image-filter-2"></i>
          <i class="icon-item mdi-image-filter-3"></i>
          <i class="icon-item mdi-image-filter-4"></i>
          <i class="icon-item mdi-image-filter-5"></i>
          <i class="icon-item mdi-image-filter-6"></i>
          <i class="icon-item mdi-image-filter-7"></i>
          <i class="icon-item mdi-image-filter-8"></i>
          <i class="icon-item mdi-image-filter-9-plus"></i>
          <i class="icon-item mdi-image-filter-9"></i>
          <i class="icon-item mdi-image-filter-center-focus"></i>
          <i class="icon-item mdi-image-flash-auto"></i>
          <i class="icon-item mdi-image-flash-off"></i>
          <i class="icon-item mdi-image-hdr-off"></i>
          <i class="icon-item mdi-image-hdr-on"></i>
          <i class="icon-item mdi-image-hdr-strong"></i>
          <i class="icon-item mdi-image-hdr-weak"></i>
          <i class="icon-item mdi-image-healing"></i>
          <i class="icon-item mdi-image-iso"></i>
          <i class="icon-item mdi-image-leak-add"></i>
          <i class="icon-item mdi-image-leak-remove"></i>
          <i class="icon-item mdi-image-looks"></i>
          <i class="icon-item mdi-image-nature-people"></i>
          <i class="icon-item mdi-image-nature"></i>
          <i class="icon-item mdi-image-navigate-before"></i>
          <i class="icon-item mdi-image-navigate-next"></i>
          <i class="icon-item mdi-image-wb-auto"></i>
          <i class="icon-item mdi-image-wb-irradescent"></i>
          <i class="icon-item mdi-maps-local-laundry-service indigo-color"></i>
        </div>
      </main>
      <nav class="center">
        <h6>Right Item</h6>
      </nav>
      <aside class="red">
        <h6 class="center white-text">Left</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
      </aside>
    </div>
  <footer><h6 class="center white-text footer-text">Footer</h6></footer>




<h3>Icons</h3>
<div class="icon-item container wrap">
  <i class="icon-item mdi-hardware-keyboard-voice"></i>
</div>



<!-- Sticky Footer -->
<!-- <div class="page">
  <header></header>
    <main></main>
  <footer></footer>
</div> -->


<!-- Left Nav -->
<!-- <div class="layout-hf-leftnav">
  <header></header>
    <div class="body">
      <main></main>
      <aside></aside>
    </div>
  <footer></footer>
</div> -->

<!-- Holy grail -->

<!-- mdi-hardware-keyboard-voice
mdi-hardware-keyboard
mdi-hardware-laptop-chromebook
mdi-hardware-laptop-mac
mdi-hardware-laptop-windows
mdi-hardware-laptop
mdi-hardware-memory
mdi-hardware-mouse
mdi-hardware-phone-android
mdi-hardware-phone-iphone
mdi-hardware-phonelink-off
mdi-hardware-phonelink
mdi-hardware-security
mdi-hardware-sim-card
mdi-hardware-smartphone
mdi-hardware-speaker
mdi-hardware-tablet-android
mdi-hardware-tablet-mac
mdi-hardware-tablet
mdi-hardware-tv
mdi-hardware-watch
mdi-image-add-to-photos
mdi-image-adjust
mdi-image-assistant-photo
mdi-image-audiotrack
mdi-image-blur-circular
mdi-image-blur-linear
mdi-image-blur-off
mdi-image-blur-on
mdi-image-brightness-1
mdi-image-brightness-2
mdi-image-brightness-3
mdi-image-brightness-4
mdi-image-brightness-5
mdi-image-brightness-6
mdi-image-brightness-7
mdi-image-brush
mdi-image-camera-alt
mdi-image-camera-front
mdi-image-camera-rear
mdi-image-camera-roll
mdi-image-camera
mdi-image-center-focus-strong
mdi-image-center-focus-weak
mdi-image-collections
mdi-image-color-lens
mdi-image-colorize
mdi-image-compare
mdi-image-control-point-duplicate
mdi-image-control-point
mdi-image-crop-3-2
mdi-image-crop-5-4
mdi-image-crop-7-5
mdi-image-crop-16-9
mdi-image-crop-din
mdi-image-crop-free
mdi-image-crop-landscape
mdi-image-crop-original
mdi-image-crop-portrait
mdi-image-crop-square
mdi-image-crop
mdi-image-dehaze
mdi-image-details
mdi-image-edit
mdi-image-exposure-minus-1
mdi-image-exposure-minus-2
mdi-image-exposure-plus-1
mdi-image-exposure-plus-2
mdi-image-exposure-zero
mdi-image-exposure
mdi-image-filter-1
mdi-image-filter-2
mdi-image-filter-3
mdi-image-filter-4
mdi-image-filter-5
mdi-image-filter-6
mdi-image-filter-7
mdi-image-filter-8
mdi-image-filter-9-plus
mdi-image-filter-9
mdi-image-filter-b-and-w
mdi-image-filter-center-focus
mdi-image-filter-drama
mdi-image-filter-frames
mdi-image-filter-hdr
mdi-image-filter-none
mdi-image-filter-tilt-shift
mdi-image-filter-vintage
mdi-image-filter
mdi-image-flare
mdi-image-flash-auto
mdi-image-flash-off
mdi-image-flash-on
mdi-image-flip
mdi-image-gradient
mdi-image-grain
mdi-image-grid-off
mdi-image-grid-on
mdi-image-hdr-off
mdi-image-hdr-on
mdi-image-hdr-strong
mdi-image-hdr-weak
mdi-image-healing
mdi-image-image-aspect-ratio
mdi-image-image
mdi-image-iso
mdi-image-landscape
mdi-image-leak-add
mdi-image-leak-remove
mdi-image-lens
mdi-image-looks-3
mdi-image-looks-4
mdi-image-looks-5
mdi-image-looks-6
mdi-image-looks-one
mdi-image-looks-two
mdi-image-looks
mdi-image-loupe
mdi-image-movie-creation
mdi-image-nature-people
mdi-image-nature
mdi-image-navigate-before
mdi-image-navigate-next
mdi-image-palette
mdi-image-panorama-fisheye
mdi-image-panorama-horizontal
mdi-image-panorama-vertical
mdi-image-panorama-wide-angle
mdi-image-panorama
mdi-image-photo-album
mdi-image-photo-camera
mdi-image-photo-library
mdi-image-photo
mdi-image-portrait
mdi-image-remove-red-eye
mdi-image-rotate-left
mdi-image-rotate-right
mdi-image-slideshow
mdi-image-straighten
mdi-image-style
mdi-image-switch-camera
mdi-image-switch-video
mdi-image-tag-faces
mdi-image-texture
mdi-image-timelapse
mdi-image-timer-3
mdi-image-timer-10
mdi-image-timer-auto
mdi-image-timer-off
mdi-image-timer
mdi-image-tonality
mdi-image-transform
mdi-image-tune
mdi-image-wb-auto
mdi-image-wb-cloudy
mdi-image-wb-incandescent
mdi-image-wb-irradescent
mdi-image-wb-sunny
mdi-maps-beenhere
mdi-maps-directions-bike
mdi-maps-directions-bus
mdi-maps-directions-car
mdi-maps-directions-ferry
mdi-maps-directions-subway
mdi-maps-directions-train
mdi-maps-directions-transit
mdi-maps-directions-walk
mdi-maps-directions
mdi-maps-flight
mdi-maps-hotel
mdi-maps-layers-clear
mdi-maps-layers
mdi-maps-local-airport
mdi-maps-local-atm
mdi-maps-local-attraction
mdi-maps-local-bar
mdi-maps-local-cafe
mdi-maps-local-car-wash
mdi-maps-local-convenience-store
mdi-maps-local-drink
mdi-maps-local-florist
mdi-maps-local-gas-station
mdi-maps-local-grocery-store
mdi-maps-local-hospital
mdi-maps-local-hotel
mdi-maps-local-laundry-service
mdi-maps-local-library
mdi-maps-local-mall
mdi-maps-local-movies
mdi-maps-local-offer
mdi-maps-local-parking
mdi-maps-local-pharmacy
mdi-maps-local-phone
mdi-maps-local-pizza
mdi-maps-local-play
mdi-maps-local-post-office
mdi-maps-local-print-shop
mdi-maps-local-restaurant
mdi-maps-local-see
mdi-maps-local-shipping
mdi-maps-local-taxi
mdi-maps-location-history -->

<!-- <h3>Users</h3>
{{#md-card title="Card Title"
    titleClass="orange-text"
    image="http://placehold.it/200x200"
    id="image-card"}}

    {{#md-card-content}}
        I am a very simple card. I am good at containing
        small bits of information. I am convenient because
        I require little markup to use effectively.
    {{/md-card-content}}

    {{#md-card-action}}
        {{#link-to "settings"}}Link 1{{/link-to}}
        {{#link-to "settings"}}Link 2{{/link-to}}
    {{/md-card-action}}

{{/md-card}} -->
{{outlet}}
