<!-- <a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content">
  <i class="material-icons">add</i>
</a>


<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav> -->

<!-- <a class="waves-effect waves-light btn" onclick="Materialize.toast('<span>Item Deleted</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;>Undo<a>', 5000)">Toast!</a>
<a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">First</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">Second</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">Third</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul> -->


<h2>Settings</h2>



<form action="#">
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>File</span>
        <input type="file" />
      </div>
    </div>
  </form>

  <form action="#">
    <p class="range-field">
      <input type="range" id="test5" min="0" max="100" />
    </p>
  </form>


{{#link-to 'teams' tagName='li'}}
<i class="fa fa-users nav-padding"></i>
{{/link-to}}
{{#link-to 'users' tagName='li'}}
  <i class="mdi-action-shop"></i>
{{/link-to}}
<!-- <div class="row">
  <div class="col s12 m2">
   <p class="z-depth-1">z-depth-1</p>
  </div><br>
  <div class="col s12 m2">
   <p class="z-depth-2">z-depth-2</p>
  </div><br>
  <div class="col s12 m2">
   <p class="z-depth-3">z-depth-3</p>
  </div><br>
  <div class="col s12 m2">
   <p class="z-depth-4">z-depth-4</p>
  </div><br>
  <div class="col s12 m2">
   <p class="z-depth-5">z-depth-5</p>
  </div><br>
</div> -->


<i class="icon-item mdi-maps-local-post-office"></i>
<i class="icon-item mdi-image-collections"></i>
<i class="icon-item mdi-image-portrait"></i>
<i class="icon-item mdi-image-photo-album"></i>
<i class="icon-item mdi-image-photo-camera"></i>
<i class="icon-item mdi-image-slideshow"></i>
<i class="icon-item mdi-image-tune"></i>
<i class="icon-item mdi-image-transform"></i>
<i class="icon-item mdi-image-wb-incandescent"></i>
<i class="icon-item mdi-image-wb-cloudy"></i>
<i class="icon-item mdi-image-navigate-before"></i>
<i class="icon-item mdi-image-navigate-next"></i>
<i class="icon-item mdi-image-crop"></i>
<i class="icon-item mdi-image-timer"></i>
<i class="icon-item mdi-image-timer-auto"></i>
<i class="icon-item mdi-image-timer-off"></i>
<i class="icon-item mdi-image-movie-creation"></i>
<i class="icon-item mdi-image-remove-red-eye"></i>
<i class="icon-item mdi-image-flip"></i>
<i class="icon-item mdi-image-loupe"></i>
<i class="icon-item mdi-image-filter-tilt-shift"></i>
<i class="icon-item mdi-image-control-point"></i>
<i class="icon-item mdi-image-camera-roll"></i>
<i class="icon-item mdi-image-audiotrack"></i>
<i class="icon-item mdi-image-assistant-photo"></i>
<i class="icon-item mdi-image-adjust"></i>
<i class="icon-item mdi-maps-location-history"></i>
<i class="icon-item mdi-maps-beenhere"></i>
<i class="icon-item mdi-maps-local-movies"></i>
<i class="icon-item mdi-maps-local-offer"></i>
<i class="icon-item mdi-maps-local-gas-station"></i>
<i class="icon-item mdi-maps-local-hospital"></i>
<i class="icon-item mdi-maps-local-hotel"></i>
<i class="icon-item mdi-maps-local-library"></i>
<i class="icon-item mdi-maps-local-mall"></i>
<!-- <h3>Holy Grail</h3>
  <header><h6 class="center white-text header-text">Header</h6></header>
    <div class="body">
      <main>
        <div class="icon-item container wrap">

          <h5>First Cut</h5>


          <hr>
        </div>
      </main>
      <nav class="center">
        <h6>Right Item</h6>
      </nav>
      <aside class="red">
        <h6 class="center white-text">Left</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
        <h6 class="center white-text">Left Item</h6>
      </aside>
    </div>
  <footer><h6 class="center white-text footer-text">Footer</h6></footer>
<div class="icon-item container wrap">
  <i class="icon-item mdi-hardware-keyboard-voice"></i>
</div> -->

<!-- <h3>Users</h3>
{{#md-card title="Card Title"
    titleClass="orange-text"
    image="http://placehold.it/200x200"
    id="image-card"}}

    {{#md-card-content}}
        I am a very simple card. I am good at containing
        small bits of information. I am convenient because
        I require little markup to use effectively.
    {{/md-card-content}}

    {{#md-card-action}}
        {{#link-to "settings"}}Link 1{{/link-to}}
        {{#link-to "settings"}}Link 2{{/link-to}}
    {{/md-card-action}}

{{/md-card}} -->
{{outlet}}
