
header, footer, nav, aside {
  background:indigo;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
aside, nav {flex: 0 0 12em;}
main {flex: 1 1 auto;}

/* Order for Mobile */
aside {order: 0;}
main {order:1;}
nav {order:2;}

.header-text, .footer-text {
  padding: 20px 0;
  font-size:150%;
}

//
// .HolyGrail,
// .HolyGrail-body {
//   display: flex;
//   flex-direction: column;
// }
//
// .HolyGrail-nav {
//   order: -1;
// }
//
// @media (min-width: 768px) {
//   .HolyGrail-body {
//     flex-direction: row;
//     flex: 1;
//   }
//   .HolyGrail-content {
//     flex: 1;
//   }
//   .HolyGrail-nav, .HolyGrail-ads {
//     /* 12em is the width of the columns */
//     flex: 0 0 12em;
//   }
// }
