// .fa {font-size:340%;}
.fa-contao:before, .mdi-action-event, .mdi-action-assignment, .mdi-social-group, .mdi-communication-phone, .mdi-communication-business {
  color:#26a69a;}

.float-left{float:left;}
.float-right{float:right;}
.flex-container-column {
  height: 50vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-wrap: nowrap;
}
.flex-item {
  flex: 1 1 auto;
}
.crm-hero {
  width:100%;
  height:400px;
}

.list-group-item {
  padding:15px;
}
.hero-text {
  font-size:150%;
  font-weight:300;
}
.3x {
  font-size:300%;
}
.card-panel {
  margin:0;
}
.white-color {
  color:white;
}
