& {
  margin-bottom:10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  header {
    padding:0;
  }
  main {
    background:white;
    min-height:125px;
  }
  h5 {
    text-align:center;
    margin:0;
    padding:10px;
  }
  .white-text-color {
    color:white;
  }
  .card-panel {
    margin: 0;
  }
}
.blk-bg {
  background:black;
}
