<div class="video-container no-controls">
{{yield}}
</div>
<!-- <video class="responsive-video" controls>
    <source src="www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1" type="video/mp4">{{yield}}
</video> -->
<!-- <div class="video-container">
  <iframe width="853" height="480" src="www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1" frameborder="0" allowfullscreen></iframe>
</div> -->
