<header class="mock-nav">
  <h4 class="center">CMS Design App</h4>
  <div class="InputAddOn">
    <input class="InputAddOn-field">
    <button class="InputAddon-item">
      <span class="icon icon-search"></span>
    </button>
  </div>
</header>
{{yield}}
