
<form id="page-form" multipart="true" class="create-form" {{action 'add' on="submit"}}>

  {{md-input type="text" value=model.title label="Page title"}}

  <button type="submit" class="btn blue-grey darken-1">Create</button>
</form>
