<div class="row">
    {{#each model as |category|}}
    <div class="col l3 m4 s6 pad-20">
      {{#md-card title=category.name
          titleClass="orange-text"
          id="basic-card"}}

          {{#md-card-content}}
            Content Describing the Tag Goes Here
          {{/md-card-content}}

          {{#md-card-action}}
          <a {{action 'edit' category}}>Edit</a>
            <a {{action 'delete' category}}>Delete</a>
          {{/md-card-action}}
      {{/md-card}}
      </div>
    {{/each}}
</div>
