<header>
  <h5 class="white-text-color cyan darken-2">Todays Tasks</h5>
</header>
<main>
  {{#each filteredTasks as |task|}}
  {{#md-card-panel class="cyan lighten-1"
      bodyClass="white-text"}}
      {{task.name}} / {{task.isSame}}
  {{/md-card-panel}}
  {{/each}}
</main>
