<header>
  <h5 class="white-text-color blue-grey darken-2">Todays Tasks</h5>
</header>
<main>
  {{#each filteredTasks as |task|}}
  {{#md-card-panel class="blue-grey darken-1"
      bodyClass="white-text"}}
      {{task.name}} / {{task.isSame}}
  {{/md-card-panel}}
  {{/each}}
</main>
