<header>
  <h5 class="white-text-color purple darken-4">Todays Tasks</h5>
</header>
<main>
  {{#md-card-panel class="purple darken white-text"
      id="card-panel"}}
      Task #1: What You See Here is Up To You.  Custom Configuration
  {{/md-card-panel}}
  {{#md-card-panel class="purple darken-1"
      bodyClass="white-text"
      id="card-panel"}}
      Task #2: Reccomendations Based on Industry Best Practices Built In
  {{/md-card-panel}}
  {{#md-card-panel class="purple darken-2"
      bodyClass="white-text"
      id="card-panel"}}
      Task #3: Teammate Assign You A Task?  You'll find them here.
  {{/md-card-panel}}
  {{#md-card-panel class="purple darken-3"
      bodyClass="white-text"
      id="card-panel"}}
      Task #4: Event Based Notifications Go Here
  {{/md-card-panel}}
  {{yield}}
</main>
