<div class="row event-subnav">
  <div class="col pad-free s2 event-subnav-left"><button class="block" {{action 'addEvent'}}>Add Event</button></div>
  <div class="col s1 offset-s2 event-subnav-center">Day</div>
  <div class="col s1 event-subnav-center">Week</div>
  <div class="col s1 event-subnav-center">Month</div>
  <div class="col s1 event-subnav-center">Year</div>
  <div class="col pad-free s2 offset-s2 event-subnav-right">
		<span class="view-toggle">
			<a href=""><i class="fa fa-list"></i></a>
			<a href=""><i class="fa fa-list-alt"></i></a>
			<a href=""><i class="fa fa-table"></i></a>
		</span>
	</div>
</div>
<div class="row">
  <div class="col s12">
    <div class="col event-day">1</div>
    <div class="col event-day">2</div>
    <div class="col event-day">3</div>
    <div class="col event-day">4</div>
    <div class="col event-day">5</div>
    <div class="col event-day">6</div>
    <div class="col event-day">7</div>

    <div class="col event-day">8</div>
    <div class="col event-day">9</div>
    <div class="col event-day">10</div>
    <div class="col event-day">11</div>
    <div class="col event-day">12</div>
    <div class="col event-day">13</div>
    <div class="col event-day">14</div>
  </div>
  <div class="col s12">
    <div class="col event-day">15</div>
    <div class="col event-day">16</div>
    <div class="col event-day">17</div>
    <div class="col event-day">18</div>
    <div class="col event-day">19</div>
    <div class="col event-day">20</div>
    <div class="col event-day">21</div>
  </div>
  <div class="col s12">
    <div class="col event-day">22</div>
    <div class="col event-day">23</div>
    <div class="col event-day">24</div>
    <div class="col event-day">25</div>
    <div class="col event-day">26</div>
    <div class="col event-day">27</div>
    <div class="col event-day">28</div>
  </div>
  <div class="col s12">
    <div class="col event-day">29</div>
    <div class="col event-day">30</div>
    <div class="col event-day">31</div>
  </div>
</div>
{{yield}}
